main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main__base {
    width: 100%;
    height: 30vw;
    display: flex;
    flex-direction: row;
    background-color: #ffffff40;
    margin-top: 5vw;
    border-top: #fff 0.05vw solid;
    border-bottom: #fff 0.05vw solid;
    box-sizing: border-box;
}

#main__base video {
    width: 35vw;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    border-radius: 1.5vw;
    box-shadow: #000000 0 0 1vw;
}

#main__base div {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vw;
    gap: 2vw;
}

#main__base div h1 {
    font-size: 2.5vw;
    color: #f5b94b;
    border-width: 0.5vw;
    padding-bottom: 0.5vw;
    border-style: none groove dashed groove;
    width: 30vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#main__base div p {
    font-size: 1.5vw;
    color: #fff;
    text-shadow: #000000 0 0 0.5vw;
}