main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main__base {
    width: 100%;
    height: 30vw;
    background-color: #ffffff40;
    margin-top: 5vw;
    border-top: #fff 0.05vw solid;
    border-bottom: #fff 0.05vw solid;
}